<h1>Welcome to some fun with strings!</h1>

<h4>Some things you can do:</h4>
<ul>
  <li>Compare if two strings are the same (/equal/"string1"/"string2")</li>
  <li>Check if a string is a pallindrome (/pallindrom/"string")</li>
  <li>Check if a string is an isogram (/isogram/"string")</li>
  <li>Check if two strings are anagrams (/anagram/"string1"/"string2")</li>
</ul>
